<div class="board-container">
  <button color="primary" mat-flat-button (click)="addNewCard()">
    New Card
  </button>
  <div class="board">
    <div class="board-coloumn">
      <h2 class="board-coloumn-title">To do</h2>
      <app-card
        *ngFor="let card of toDoCards"
        [card]="card"
        board="ToDo"
        valueProgress="33"
      ></app-card>
    </div>
    <div class="board-coloumn">
      <h2 class="board-coloumn-title">Doing</h2>
      <app-card
        *ngFor="let card of doingCards"
        [card]="card"
        board="Doing"
        valueProgress="66"
      ></app-card>
    </div>
    <div class="board-coloumn">
      <h2 class="board-coloumn-title">Done</h2>
      <app-card
        *ngFor="let card of doneCards"
        [card]="card"
        board="Done"
        valueProgress="100"
      ></app-card>
    </div>
  </div>
</div>
