<div class="board-container">
  <button color="primary" mat-flat-button>New Card</button>
  <div class="board">
    <div class="board-coloumn">
      <h2 class="board-coloumn-title">To do</h2>
      <mat-card>
        <mat-card-header>
          <mat-card-title> Card Title </mat-card-title>
          <button mat-icon-button aria-label="Logout">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>Card Content</mat-card-content>
        <mat-card-actions>
          <button mat-icon-button aria-label="Logout">
            <mat-icon>navigate_before</mat-icon>
          </button>
          <button mat-icon-button aria-label="Logout">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button aria-label="Logout">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="determinate" value="33"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="board-coloumn">
      <h2 class="board-coloumn-title">Doing</h2>
      <mat-card>
        <mat-card-header>
          <mat-card-title> Card Title </mat-card-title>
          <button mat-icon-button aria-label="Logout">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>Card Content</mat-card-content>
        <mat-card-actions>
          <button mat-icon-button aria-label="Logout">
            <mat-icon>navigate_before</mat-icon>
          </button>
          <button mat-icon-button aria-label="Logout">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button aria-label="Logout">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="determinate" value="66"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="board-coloumn">
      <h2 class="board-coloumn-title">Done</h2>
      <mat-card>
        <mat-card-header>
          <mat-card-title> Card Title </mat-card-title>
          <button mat-icon-button aria-label="Logout">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>Card Content</mat-card-content>
        <mat-card-actions>
          <button mat-icon-button aria-label="Logout">
            <mat-icon>navigate_before</mat-icon>
          </button>
          <button mat-icon-button aria-label="Logout">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button aria-label="Logout">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
