<div class="login-container">
  <mat-card>
    <mat-card-header>
      <img src="../../../assets/images/kanbanLogo.png" alt="Kanban Logo" />
      <mat-card-title> Kanban Board </mat-card-title>
    </mat-card-header>
    <mat-card-content
      >Kanban Board is a collaborative activity development app that makes it
      easy and enjoyable to plan and visualize your work.</mat-card-content
    >
    <mat-card-actions>
      <button
        color="primary"
        mat-flat-button
        (click)="login()"
        aria-label="login and go board"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
