<mat-card>
  <mat-card-header>
    <mat-card-title> Card Title </mat-card-title>
    <button mat-icon-button aria-label="Edit">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>Card Content</mat-card-content>
  <mat-card-actions>
    <button mat-icon-button aria-label="Before">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-icon-button aria-label="Delete">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button aria-label="Next">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="determinate" value="33"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

<ng-template #editMode>
  <mat-card>
    <mat-card-header>
      <mat-card-title> Card Title </mat-card-title>
      <button mat-icon-button aria-label="Logout">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>Card Content</mat-card-content>
    <mat-card-actions>
      <button mat-icon-button aria-label="Logout">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-icon-button aria-label="Logout">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button aria-label="Logout">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="determinate" value="33"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</ng-template>
