:root {
  --background: #212121;
  --background-container: #282828;
  --background-container-highlight: #323232;

  --black: #000000;
  --grey: #aaaaaa;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--white);
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}
